html {
    background-color: #F2EFE5;
    font-family: sans-serif;
    line-height: 1.5em;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@font-face {
    font-family: "Intconsolata";
    src: url("/fonts/Intconsolata.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1 {
    width: max-content;
    font-size: 2rem;
    padding: 1rem 2rem 1rem 2rem;
    background-color: white;
    background-color: #0000FF;
    color: #C7C8CC;
}

h3 {
    width: max-content;
    padding: 2px 4px 2px 4px;
    background-color: #0000FF;
    color: #C7C8CC;
}

h4 {
    width: max-content;
    color: #B4B4B8;
}

strong {
    color: #B4B4B8;
}

p, li{
    color: #444444;
}

a {
    color: #444444;
    text-decoration-color: #0000FF;
}

.date-header {
    color: #F2EFE5;
    width: max-content;
    background-color: #B4B4B8;
    padding: 2px 4px 2px 4px;
}

ul {
    padding-inline-start: 0;
}

ul li {
    list-style-type: none;
}