---
import Header from "../components/Header.astro";
import PostList from "../components/PostList.astro";
import About from "../components/About.astro";
import "../styles/Index.css";
---

<html lang="en">
  <head>
    <title>Sam Hall</title>
    <meta charset="UTF-8" />
  </head>
  <Header />
  <div class="content">
    <About />
    <PostList />
  </div>


</html>
