---

---

<h3 id="about">About me</h3>
<p>Hey there! My name is Sam.</p>
<p>
  I started, <a href="https://wafer.systems/">Wafer Systems</a>, a company
  imagining what agents can do when you give them su privileges instead of
  simply giving them access to a handful of APIs by integrating directly into
  the Android operating system.
</p>
