---

---

<h3 id="about">About me</h3>
<p>Hey there! My name is Sam.</p>
<p>
  I'm a software engineer currently at South Park Commons exploring ideas around
  how we can make our computers predictive rather than prompted.
</p>
